* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #000000;
}
img {
  display: block;
}
button {
  outline: 0;
}
body {
  font-family: Poppins;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
}
.container {
  max-width: 320px;

  min-width: 320px;
  margin: 0 auto;
}
.contact {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0;
}
.contact__tel {
  margin-right: 20px;
}
.contact i {
  margin-right: 10px;
}
.contact__tel,
.contact__mail {
  display: inline-flex;
  text-decoration: unset;
}
.logo {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.nav {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.nav-menu__item {
  text-decoration: none;
  transition: all 0.1s linear;
}
.nav-menu__item:hover {
  color: #eaac00;
}
.icons {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s linear;
}
.icon--tel {
  background-image: url("../img/icons/tel.png");
}
.contact__tel:hover > .icon--tel {
  background-image: url("../img/icons/tel-hover.png");
}
.icon--email {
  background-image: url("../img/icons/mail.png");
}
.contact__mail:hover > .icon--email {
  background-image: url("../img/icons/mail-hover.png");
}
.icon--user {
  background-image: url("../img/icons/user.png");
}
.icon--user:hover {
  background-image: url("../img/icons/user-hover.png");
}
.icon--search {
  background-image: url("../img/icons/search.png");
}
.icon--search:hover {
  background-image: url("../img/icons/search-hover.png");
}
.icon--basker {
  background-image: url("../img/icons/basket.png");
}
.icon--basker:hover {
  background-image: url("../img/icons/basket-hover.png");
}
.slider {
  position: relative;
  margin-bottom: 40px;
}
.slider img {
  max-width: 100%;
  max-height: 870px;
}
.slider__text {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(
    110deg,
    rgba(188, 117, 81, 0.4) 0 15%,
    transparent 15% 85%,
    rgba(183, 169, 163, 0.4) 85%
  );
  font-size: 16px;
  font-weight: 600;
  padding-left: 50px;
  padding-top: 50px;
  line-height: 1;
}
.slider__text-first {
  font-size: 50px;
  line-height: 1;
}
.sale {
  margin-bottom: 30px;
}
.sale__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.product {
  text-align: center;
}
.product__list:not(:first-child) {
  margin-top: 20px;
}
.product__image {
  max-width: 320px;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}
.product__rate {
  width: 120px;
  height: 24px;
  background-image: url("../img/icons/star.png");
  margin: 0 auto 24px;
}
.product__name {
  font-weight: 500;
  margin-bottom: 24px;
}
.product__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.product__add {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  background-color: #000000;
  padding: 15px 20px;
  display: inline-block;
  letter-spacing: 5px;
  border: 0;
  cursor: pointer;
  transition: all 0.1s linear;
}
.product__add:hover {
  background-color: #eaac00;
}
.saleTop {
  background-color: #eeeeee;
  margin-bottom: 30px;
}
.saleTop__image {
  max-width: 320px;
  height: auto;
  width: auto;
  max-height: 1000px;
  margin-bottom: 80px;
}
.saleTop__content {
  margin: 0 auto;
  max-width: 320px;
  padding: 80px 0 18px;
  text-align: center;
}
.saleTop__sale {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c8c290;
  padding: 30px 35px;
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 10px;
  margin-bottom: 40px;
}
.saleTop__title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 80px;
}
.saleTop__name {
  font-size: 24px;
  font-weight: 500;
}
.saleTop__price {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 50px;
}
.product__price-new {
  display: inline-block;
}
.product__price-old {
  display: inline-block;
  font-size: 12px;
  text-decoration: line-through;
  color: red;
  vertical-align: super;
}
.saleTop__timer {
  margin-bottom: 50px;
}
.saleTop__timer > div:nth-child(2n) {
  margin-top: 5px;
}
.saleTop__timer-day,
.saleTop__timer-hour,
.saleTop__timer-min,
.saleTop__timer-sec {
  display: inline-block;
  text-align: center;
  padding: 25px 35px;
  border: 1px solid #ffffff;
  min-width: 140px;
  min-height: 125px;
}
.saleTop__timer-number {
  line-height: 52px;
  font-size: 52px;
  font-weight: 600;
}
.saleTop__timer-char {
  font-size: 14px;
}
.saleTop__add {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  background-color: #eaac00;
  padding: 15px 30px;
  display: inline-block;
  letter-spacing: 5px;
  border: 0;
  transition: all 0.1s linear;
  cursor: pointer;
}
.saleTop__add:hover {
  background-color: #000000;
}
.featured {
  margin-bottom: 30px;
}
.featured__title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 60px;
}
.fashionshop {
  background-image: url("../img/content/fashionshopBG.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.fashionshop p {
  margin-bottom: 50px;
}
.fashionshop__title {
  font-size: 48px;
  color: #ffffff;
  line-height: 1.2;
}
.fashionshop__text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 1.2;
}
.fashionshop__button {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 5px;
  background-color: yellow;
  padding: 10px 15px;
  text-decoration: unset;
}
.fashionshop__button:hover {
  transform: scale(1.1);
}
.subscribe {
  background-color: #eeeeee;
  padding: 30px 0;
  text-align: center;
}
.subscribe__title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.5;
  text-transform: uppercase;
}
.subscribe__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 50px;
}
.subscribe__email {
  min-width: 320px;
  border: 1px solid #000000;
  outline: 0;
  padding: 22px;
}
.subscribe__submit {
  border: 1px solid #eaac00;
  outline: 0;
  background-color: #eaac00;
  cursor: pointer;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.subscribe__submit:hover {
  opacity: 0.8;
}
.footer {
  max-width: 1175px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.footer__info {
  margin-bottom: 50px;
}
.footer__list {
  vertical-align: top;
}
.footer__list-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer__pay {
  display: flex;
  margin: 40px 0;
  align-items: center;
}
.footer__pay-img {
  display: inline-block;
}
.footer__pay-img:not(:last-child) {
  margin-right: 10px;
}
.footer__link {
  display: block;
  text-decoration: unset;
  margin: 5px 0;
  color: #888888;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copyright {
  color: #888888;
}
.tablet,
.laptop {
  display: none;
}
.mobile {
  display: inline-block;
}
